# Data files - don't push sensitive PED data
*.csv
*.xlsx
*.xls
#except lea list and xwalks
!lea_master.csv
!xwalk_exp_canonical_FY25.csv
!xwalk_rev_canonical_FY25.csv

# Python
__pycache__/
*.pyc
.env
.DS_Store
# Streamlit
.streamlit/secrets.toml